.RA-gamebody {
  width: 900px;
  height: 450px;
  padding: 20px 0px;
  background-color: #5a9d5d;
  border-radius: 200px;
  margin: auto;
  border: 4px solid rgb(87, 87, 87);
}

.RA-wrap {
  width: 610px;
  height: 400px;
  border: 4px solid rgb(87, 87, 87);
  background-color: rgb(213, 181, 137);
  background-image: url("Images/line_shibafu.png");
  background-repeat: repeat;
  position: relative;
  border-radius: 10px;
  margin: auto;
}

.RA-left {
  width: 200px;
}

.RA-right {
  width: 200px;
}

.RA-rabbit {
  position: absolute;
  background-size: cover;
}

.RA-start {
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background-image: url("Images/rabbit.gif");
}

.RA-end {
  width: 100px;
  height: 100px;
  background-image: url("Images/rabbitend.gif");
}

.RA-face {
  transform: scaleX(-1);
}

.RA-eat {
  width: 30px;
  height: 30px;
  position: absolute;
}

.RA-carrot {
  background-image: url("Images/carrot.png");
  background-size: cover;
}

.RA-yuzu {
  background-image: url("Images/yuzu.png");
  background-size: cover;
}

.RA-cookie {
  background-image: url("Images/cookie.png");
  background-size: cover;
}

.RA-key button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fed635;
  border: 4px solid rgb(87, 87, 87);
  font-size: 30px;
}

.RA-key button:hover {
  color: #fe6435;
}

.RA-key button:active {
  background-color: #f9e699;
  transition: 0.2s;
  transform: translateY(-5px);
}

.RA-food button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fe6435;
  border: 4px solid rgb(87, 87, 87);
}

.RA-food button:active {
  background-color: #fe6435;
  transition: 0.2s;
  transform: translateY(-5px);
}

.RA-food i {
  font-size: 30px;
}

.RA-food button:hover i {
  color: #fed635;
}
